---
// @ts-nocheck
import LegacyLayout from "../../layouts/LegacyLayout.astro";
import LegacyHeader from "../../components/LegacyHeader.astro";
import LegacyFooter from "../../components/LegacyFooter.astro";

export async function getStaticPaths() {
  const entries = import.meta.glob("../../content/politics/*.md", { eager: true });
  return Object.entries(entries).map(([path, entry]) => ({
    params: { slug: path.split("/").pop().replace(".md", "") },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { frontmatter, Content } = entry;
const description = frontmatter.description ?? frontmatter.title;
const ogImage = frontmatter.image ?? "/img/logo2-768x455.png";
---
<LegacyLayout
  title={`${frontmatter.title} @ mp.ls`}
  description={description}
  ogType="article"
  ogImage={ogImage}
>
  <div class="mpls-legacy">
<LegacyHeader showNav />

    

    <div class="article-container">
      <table width="600" border="1" cellpadding="12" cellspacing="0">
        <tr>
          <td>
            <div class="article-title"><font face="Verdana, Helvetica, Arial" size="4"><b>{frontmatter.title}</b></font></div>
            <div class="article-meta"><font face="Verdana, Helvetica, Arial" size="1">{frontmatter.displayDate || frontmatter.date} · {frontmatter.source}</font></div>
            {frontmatter.image ? (
              <div class="article-image-container">
                <img align="TOP" border="1" height="180" src={frontmatter.image} width="340">
              </div>
            ) : null}
            <p><font face="Verdana, Helvetica, Arial" size="2"><Content /></font></p>
            {frontmatter.sourceUrl ? (
              <p><font face="Verdana, Helvetica, Arial" size="1"><a href={frontmatter.sourceUrl} target="_blank" rel="noreferrer">Original source</a></font></p>
            ) : null}
            <p><font face="Verdana, Helvetica, Arial" size="1"><a href="/politics/">Return to Politics</a></font></p>
          </td>
        </tr>
      </table>
    </div>

    <LegacyFooter />
</div>
</LegacyLayout>


