---
// @ts-nocheck
import LegacyLayout from "../../layouts/LegacyLayout.astro";

export async function getStaticPaths() {
  const entries = import.meta.glob("../../content/news/*.md");
  return Object.keys(entries).map((path) => ({
    params: { slug: path.split("/").pop().replace(".md", "") },
    props: { path },
  }));
}

const { path } = Astro.props;
const entries = import.meta.glob("../../../content/news/*.md");
const entry = await entries[path]();
const { frontmatter, Content } = entry;
---
<LegacyLayout title={`${frontmatter.title} @ mpls.com`}>
  <div class="mpls-legacy">
    <center>
      <table border="0" width="623">
        <tr>
          <td width="621">
            <center>
              <img align="TOP" border="0" height="10" src="/img/dividerline.gif" width="600"><br>
              <table border="0" cellpadding="0" cellspacing="0" width="600">
                <tr>
                  <td align="LEFT" valign="CENTER" width="130">
                    <center>
                      <font face="Verdana,Helvetica,Arial" size="2">Minneapolis<br>
                      Minnesota USA</font>
                    </center>
                  </td>
                  <td width="340"><a href="/"><img align="TOP" alt="Minneapolis, Minnesota" border="0" height="68" src="/img/logo.gif" width="339"></a><br>
                  </td>
                  <td align="RIGHT" valign="CENTER" width="130">
                    <center>
                      <font face="Verdana,Helvetica,Arial" size="2">Minnesota's Home<br>
                      On The Internet</font>
                    </center>
                  </td>
                </tr>
              </table>
              <img height="10" src="/img/dividerline.gif" width="600">
            </center>
          </td>
        </tr>
      </table>
    </center>
    <center><img src="/img/titlebar.gif" width="600" height="20" border="0" usemap="#titlebar"></center>

    <center>
      <table width="600" border="1" cellpadding="12" cellspacing="0">
        <tr>
          <td>
            <center><font face="Verdana, Helvetica, Arial" size="4"><b>{frontmatter.title}</b></font></center>
            <center><font face="Verdana, Helvetica, Arial" size="1">{frontmatter.displayDate || frontmatter.date} · {frontmatter.source}</font></center>
            {frontmatter.image ? (
              <center>
                <img align="TOP" border="1" height="180" src={frontmatter.image} width="340">
              </center>
            ) : null}
            <p><font face="Verdana, Helvetica, Arial" size="2"><Content /></font></p>
            {frontmatter.sourceUrl ? (
              <p><font face="Verdana, Helvetica, Arial" size="1"><a href={frontmatter.sourceUrl} target="_blank" rel="noreferrer">Original source</a></font></p>
            ) : null}
            <p><font face="Verdana, Helvetica, Arial" size="1"><a href="/news/">Return to News</a></font></p>
          </td>
        </tr>
      </table>
    </center>

    <map name="titlebar">
      <area shape="rect" coords="554,0,599,19" href="/search/" target="_top">
      <area shape="rect" coords="498,0,552,19" href="/weather/" target="_top">
      <area shape="rect" coords="450,0,495,19" href="/sports/" target="_top">
      <area shape="rect" coords="397,0,448,19" href="/politics/" target="_top">
      <area shape="rect" coords="358,0,392,19" href="/news/" target="_top">
      <area shape="rect" coords="316,0,354,19" href="/media/" target="_top">
      <area shape="rect" coords="281,0,312,19" href="/kid/" target="_top">
      <area shape="rect" coords="220,0,278,19" href="/exposure/" target="_top">
      <area shape="rect" coords="151,0,218,19" href="/cool/" target="_top">
      <area shape="rect" coords="92,0,148,19" href="/business/" target="_top">
      <area shape="rect" coords="0,0,90,19" href="/" target="_top">
      <area shape="default" href="/">
    </map>
  </div>
</LegacyLayout>
